.causaSeleccionada-columnas {
  display: grid;
  grid-template-columns: 60% 40%;
}

/* COLUMNA IZQUIERDA */
.causaSeleccionada-columna-izquierda {
  margin-top: 70px;
}

.causaSeleccionada-columna-izquierda-container {
  width: 95%;
  max-width: 1600px;
}

.causaSeleccionada-columna-izquierda-galeria {
  width: 95%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

.causaSeleccionada-columna-izquierda-texto-especifico {
  margin-top: 55px;
}

.causaSeleccionada-columna-izquierda-texto-titulo,
.causaSeleccionada-actualizaciones-titulo {
  font-size: 30px;
  margin-bottom: 10px;
}

.causaSeleccionada-columna-izquierda-texto-descripcion {
  color: #414041;
}

.causaSeleccionada-columna-izquierda-p2 {
  margin-bottom: 50px;
}

/* COLUMNA DERECHA */
.causaSeleccionada-columna-derecha {
  height: 600px;

  padding-top: 70px;
}

.causaSeleccionada-columna-derecha-organizador {
  display: block;
  text-align: center;
  padding: 20px 0;
}

.causaSeleccionada-columna-derecha-organizador-foto {
  width: 100px;
  height: 100px;

  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

  border-radius: 50%;
  justify-self: center;
}

.causaSeleccionada-columna-derecha-organizador-nombre {
  font-weight: 600;
  font-size: 25px;

  color: #9c9999;

  margin-top: 15px;
  margin-bottom: 5px;
}

.causaSeleccionada-columna-derecha-info-titulo {
  margin-bottom: 0px;
}

.causaSeleccionada-columna-derecha-info-fecha {
  color: #acabab;
  font-weight: 600;

  margin-top: 10px;
}

.causaSeleccionada-columna-derecha-info-voluntarios {
  font-weight: 600;
  text-align: right;

  margin-top: 10px;
}

.causaSeleccionada-columna-derecha-info-btnParticipa {
  width: 100%;

  margin-top: 20px;
  padding: 25px 0 25px 0;

  border: 0px;
  border-radius: 5px;

  color: white;
  font-weight: 600;
  font-size: 18px;

  background-color: #ff8330;

  cursor: pointer;
}

/* Actualizaciones */
.causaSeleccionada-actualizaciones {
  margin-top: 90px;
  margin-bottom: 50px;
}

.causaSeleccionada-actualizaciones-post {
  margin-top: 35px;

  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  width: 550px;
  height: 300px;
}

.causaSeleccionada-actualizaciones-posts {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.causaSeleccionbada-actualizaciones-post-grid {
  display: grid;
  grid-template-columns: 50% 50%;

  height: 300px;
}

.causaSeleccionada-actualizaciones-post-grid-izquierda {
  overflow: hidden;
}

.causaSeleccionada-actualizaciones-post-grid-izquierda-imagen {
}

.causaSeleccionada-actualizaciones-post-grid-derecha-container {
  display: grid;

  width: 90%;
  margin: 0 auto;
  padding: 35px 0 0 0;
}

.causaSeleccionada-actualizaciones-post-grid-derecha-titulo {
  font-size: 25px;
  font-weight: 600;

  margin-bottom: 5px;
}

.causaSeleccionada-actualizaciones-post-grid-derecha-fecha {
  color: #9c9999;
  font-weight: 500;

  margin-bottom: 10px;
}

.causaSeleccionada-actualizaciones-post-grid-derecha-descripcion {
  line-height: 1.2;
}

/* Causas Similares */
.causaSeleccionada-causasSimilares {
  margin-top: 90px;
}

.causaSeleccionada-causasSimilares-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 18x;

  grid-row-gap: 50px;

  margin-top: 50px;
  margin-bottom: 50px;
}
