.header-nav {
  background: pink;
}

.header-nav-title {
}

.navbar-header-display {
  display: flex;
  justify-content: space-between;
}

.header-nav-ul {
  display: flex;
}

.header-nav-li {
  list-style: none;
  margin-left: 20px;
}
