.header-nav {
  background: #fcfcfe;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
}

.header-nav-title {
  color: #3b4154;
  align-self: center;
}

.navbar-header-display {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header-nav-ul {
  display: flex;
}

.header-nav-li {
  list-style: none;
  margin-left: 20px;
  color: #3b4154;
}

.header-nav-li-vertical-center {
  padding-top: 15px;
  font-weight: 500;
}

.header-nav-li-profile-pic {
  width: 50px;
  height: 50px;

  border-radius: 50%;
}
