.header-nav {
  background: #fcfcfe;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
}

.header-nav-title {
}

.navbar-header-display {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header-nav-ul {
  display: flex;
}

.header-nav-li {
  list-style: none;
  margin-left: 20px;
}
